.appointment {
    @extend .flex-centered-content;
    padding: 130px 0;

    &-form {
        width: 100%;
        max-width: 684px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &__field {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                color: var(--dark);
            }

            input {
                border-radius: 17px;
                border: 1px solid #A1978D;

                &::placeholder {
                    color: var(--warning);
                  }
            }

            textarea {
                height: 87px;
                padding: 10px 20px;
                border-radius: 17px;
                border: 1px solid #A1978D;
            }
        }

        &__footer {
            display: flex;
            justify-content: center;

            button {
                max-width: 252px;
                max-height: 53px;
                font-size: 18px;
                font-weight: 300;
                background-color: var(--white);
                color: var(--darkgray);
                border-radius: 27px;
                border: 1px solid #A1978D;
            
                @include m-b-desktop-down {
                  font-size: 18px;
                  max-width: 230px;
                  max-height: 50px;
                  margin-bottom: 20px;
                }
              }
        }
    }

}