.features {
  background-color: var(--brown);

  &__list {
    @extend .flex;
    @extend .list-reset;
    column-gap: 50px;
    row-gap: 30px;
    margin: 0 auto;
    justify-content: center;

    @include m-b-desktop-down {
      column-gap: 30px;
    }
  }

  &__list-item {
    width: calc(50% - 25px);
    min-height: 300px;

    @include m-b-desktop-down {
      width: calc(50% - 40px);
      min-height: 200px;
    }

    @include m-b-laptop-down {
      min-height: 180px;
    }

    @include m-b-down(600px) {
      width: 100%;
    }
  }
}
