.intro {
  position: relative;
  height: 100%;
  max-height: 532px;
  margin-bottom: 80px;

  @include m-b-laptop-down {
    background: linear-gradient(93deg, #F5E8DF -14.32%, #D1C7BE 15.15%, #AEA59C 30.56%, #8F857B 99.77%);
    display: flex;
    align-items: center;
  }

  img {
    position: absolute;
    height: 100%;
    min-height: inherit;
    object-fit: cover;

    @include m-b-laptop-down {
      display: none;
    }
  
  }

  &__content {
    position: relative;
    margin-left: auto;
    height: 100%;
    width: 40%;
    @extend .flex-column;
    align-items: center;
    padding: 20px 20px 40px 20px;

    @include m-b-desktop-down {
      padding-top: 20px;
    }

    @include m-b-laptop-down {
      width: 100%;
      margin-left: 0;
    }

    @include m-b-mobile-lg-down {
      padding: 20px 15px;
    }
  }

  &__title {
    @extend .flex-column;
    text-align: center;

    & strong {
      font-size: 121px;

      @include m-b-desktop-down {
        font-size: 80px;
      }

      @include m-b-laptop-down {
        font-size: 90px;
      }

      @include m-b-mobile-lg-down {
        font-size: 56px;
      }
    }
    & span {
      font-size: 56px;
      margin-bottom: 25px;

      @include m-b-desktop-down {
        font-size: 34px;
      }

      @include m-b-laptop-down {
        font-size: 50px;
      }

      @include m-b-mobile-lg-down {
        font-size: 28px;
      }
    }

    @include m-b-desktop-down {
      margin-bottom: 0;
    }

    @include m-b-mobile-lg-down {
      //text-align: left;
    }

  }

  &__desc {
    font-size: 35px;
    color: var(--gray);
    text-align: center;
    margin: 0;

    @include m-b-desktop-down {
      font-size: 28px;
    }

    @include m-b-laptop-down {
      font-size: 35px;
    }

    @include m-b-mobile-lg-down {
      font-size: 18px;
    }
  }

  &__button {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 252px;
    max-height: 53px;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--white);
    color: var(--darkgray);

    @include m-b-desktop-down {
      font-size: 18px;
      max-width: 200px;
      max-height: 50px;
      margin-bottom: 20px;
    }
  }

  &__note {
    color: var(--white);

    @include m-b-desktop-down {
      font-size: 14px;
    }
  }
}
