.intro {
  position: relative;

  max-width: 1920px;
  height: 100%;
  min-height: 535px;
  margin: 0 auto;
  background: linear-gradient(93deg, #F5E8DF -14.32%, #D1C7BE 15.15%, #AEA59C 30.56%, #8F857B 99.77%);

  @include m-b-down(1320px) {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
      z-index: 2;
    }
  }

  @include m-b-laptop-down {
    min-height: 420px;
    &::before {
      display: none;
    }
  }

  @include m-b-mobile-lg-down {
    min-height: 320px;
    background: linear-gradient(95deg, #F5E8DF -92.86%, #D1C7BE -27.87%, #AEA59C 43.25%, #8F857B 99.69%);
  }

  &__container {
    position: relative;

    @extend .flex-column;
    align-items: center;
    justify-content: center;
    min-height: inherit;

    img {
      position: absolute;
      left: 60px;
      bottom: 0;
      max-width: fit-content;
      max-width: 846px;

      @include m-b-down(1480px) {
        left: 0;
      }

      @include m-b-laptop-down {
        display: none;
      }
    }
  }

  &__content {
    @extend .flex-column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 100%;

    margin-left: auto;
    padding: 20px 100px;

    @include m-b-down(1440px) {
      max-width: 600px;
      padding: 20px;
    }

    z-index: 2;

    @include m-b-laptop-down {
      width: 100%;
      margin-left: 0;
    }

    @include m-b-mobile-lg-down {
      padding: 20px 15px;
    }
  }

  &__title {
    @extend .flex-column;
    text-align: center;

    & strong {
      font-size: 120px;

      @include m-b-laptop-down {
        font-size: 80px;
      }

      @include m-b-mobile-lg-down {
        font-size: 60px;
      }
    }
    & span {
      font-size: 56px;
      margin-bottom: 25px;


      @include m-b-laptop-down {
        font-size: 32px;
      }

      @include m-b-mobile-lg-down {
        font-size: 28px;
      }
    }

    @include m-b-desktop-down {
      margin-bottom: 0;
    }
  }

  &__desc {
    font-size: 36px;
    text-align: center;
    margin: 0;
    color: var(--gray);

    @include m-b-laptop-down {
      font-size: 26px;
    }

    @include m-b-mobile-lg-down {
      font-size: 18px;
    }
  }

  &__button {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 252px;
    max-height: 53px;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--white);
    color: var(--darkgray);
  }

  &__note {
    color: var(--white);

    @include m-b-desktop-down {
      font-size: 14px;
    }
  }
}
