.prices {
  background-color: var(--brown);

  &__list {
    @extend .flex-column;
    @extend .list-reset;
    max-width: 1200px;
    margin: 0 auto;

    &-item {
      @extend .flex;
      padding: 25px 5px;
      border-bottom: 1px solid var(--white);

      @include m-b-down(960px) {
        padding: 20px 5px;
      }

      @include m-b-tablet-down {
        padding: 10px 5px;
      }

      @include m-b-down(480px) {
        flex-direction: column;
        gap: 16px;
      }

      span {
        color: var(--white);
        font-size: 24px;
        font-weight: 500;

        @include m-b-laptop-down {
          font-size: 20px;
        }

        @include m-b-tablet-down {
          font-size: 18px;
        }

        @include m-b-down(720px) {
          font-size: 16px;
        }
      }

      span:first-child {
        width: calc(100% - 150px);
        padding-right: 25px;

        @include m-b-down(480px) {
          width: 100%;
          padding-right: 0;
        }
      }

      span:nth-child(2) {
        margin-left: auto;
        width: 150px;
        text-align: right;

        @include m-b-down(480px) {
          margin-left: 0;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}
