.prices {
  background-color: var(--brown);
  padding: 44px 0;

  &__list {
    @extend .flex-column;

    &-item {
      @extend .flex;
      padding: 30px 5px 25px 5px;
      border-bottom: 1px solid var(--white);

      @include m-b-tablet-down {
        flex-direction: column;
        gap: 16px;
      }

      span {
        color: var(--white);
        font-size: 24px;
        font-weight: 500;
        line-height: 36.8px;
      }

      span:nth-child(2) {
        margin-left: auto;

        @include m-b-tablet-down {
            margin-left: 0;
          }
      }
    }
  }
}