.procedure {
    background-color: var(--brown);

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include m-b-tablet-down {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-item {
            width: 100%;
            border-radius: 50%;
            color: var(--white);
            // padding: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include m-b-tablet-down {
                width: 70%;
            }

            span {
                text-align: center;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: auto;   
                margin: 0;           
              }
  
              p {
                  text-align: center;
                  font-size: 34px;
                  font-weight: 400;
                  line-height: 1.5; 
                  margin-bottom: auto;  
              }

            &:nth-child(1) {
                transform: translate(50px, 0);
                border: 5px solid var(--white);
            }
            &:nth-child(2) {
                transform: translate(-50px, 0);
                border: 5px dashed var(--white);
            }

            @include adaptive-value("padding", 200, 200);

            @include m-b-down(1740px) {
                @include adaptive-value("padding", 150, 100);
              }
            @include m-b-down(1480px) {
                @include adaptive-value("padding", 130, 50);

                &:nth-child(1) {
                    transform: translate(30px, 0);
                }
                &:nth-child(2) {
                    transform: translate(-30px, 0);
                }
              }

            @include m-b-down(1350px) {
                span {
                    font-size: 34px;         
                  }

                p {
                    font-size: 24px; 
                }
                @include adaptive-value("padding", 130, 100);

              }

            @include m-b-down(1200px) {
                @include adaptive-value("padding", 130, 40);
              }

            @include m-b-laptop-down {

                &:nth-child(1) {
                    transform: translate(20px, 0);
                }
                &:nth-child(2) {
                    transform: translate(-20px, 0);
                }

                @include adaptive-value("padding", 80, 30);
            }

            @include m-b-tablet-down {
                &:nth-child(1) {
                    transform: translate(0, 20px);
                }
                &:nth-child(2) {
                    transform: translate(0, -20px);
                }

                @include adaptive-value("padding", 130, 80);
            }

            @include m-b-down(800px) {
                @include adaptive-value("padding", 100, 50);
            }

            @include m-b-down(700px) {
                span {
                    font-size: 22px;         
                  }

                p {
                    font-size: 14px; 
                }

                @include adaptive-value("padding", 160, 80);
            }

            @include m-b-down(580px) {

                @include adaptive-value("padding", 150, 40);
            }

            @include m-b-down(470px) {

                &:nth-child(1) {
                    transform: translate(0, 10px);
                }
                &:nth-child(2) {
                    transform: translate(0, -10px);
                }

                span {
                    font-size: 16px;         
                  }

                p {
                    font-size: 12px; 
                }

                @include adaptive-value("padding", 100, 40);
            }

            @include m-b-down(400px) {

                @include adaptive-value("padding", 90, 30);
            }

            @include m-b-down(350px) {

                &:nth-child(1) {
                    transform: translate(0, 5px);
                }
                &:nth-child(2) {
                    transform: translate(0, -5px);
                }

                @include adaptive-value("padding", 70, 15);
            }

        }
    }
}