.procedure {
  background-color: var(--brown);

  &__list {
    @extend .list-reset;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;

    @include m-b-tablet-down {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-item {
    width: 600px;
    height: 600px;
    border: 3px dashed var(--white);
    border-radius: 50%;
    padding: 150px 100px;

    @include m-b-down(1180px) {
      width: 400px;
      height: 400px;
      padding: 100px 60px;
    }

    @include m-b-mobile-lg-down {
      width: 280px;
      height: 280px;
      padding: 50px 30px;
    }

    &-content {
      @extend .flex-column;
      text-align: center;

      span {
        display: inline-block;
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 40px;
        color: var(--white);

        @include m-b-down(1180px) {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }

      p {
        font-size: 22px;
        margin: 0;
        color: var(--white);

        @include m-b-down(1180px) {
          font-size: 18px;
        }

        @include m-b-mobile-lg-down {
          font-size: 16px;
        }
      }
    }

    &:nth-child(1) {
      margin-right: -30px;
      border-style: solid;

      @include m-b-down(1180px) {
        margin-right: -20px;
      }

      @include m-b-tablet-down {
        margin-right: 0;
        margin-bottom: -25px;
      }

      @include m-b-mobile-lg-down {
        margin-bottom: -15px;
      }
    }

    &:nth-child(2) {
      margin-left: -30px;

      @include m-b-down(1180px) {
        margin-left: -20px;
      }

      @include m-b-tablet-down {
        margin-left: 0;
        margin-top: -25px;
      }

      @include m-b-mobile-lg-down {
        margin-top: -15px;
      }
    }
  }
}
