.reviews {
  .swiper-container {
    position: relative;
  }

  &__link {
    max-width: 150px;
    font-weight: 700;
    margin: 0 auto;
    background-color: #57c2cc;
    color: var(--white);
  }

  &-slider {
    margin-bottom: 50px;
    max-width: 1080px;

    .swiper-slide {
      box-sizing: border-box;
      max-width: 350px;
      height: auto;
    }
  }

  &-slider-button-next,
  &-slider-button-prev {
    position: absolute;
    top: 50%;
    margin: 0;
    background-color: var(--white);

    @include m-b-mobile-lg-down {
      display: none;
    }
  }

  &-slider-button-next {
    right: 10px;
    transform: translateY(-50%);
  }

  &-slider-button-prev {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
  }
}
