.staff {
  &__list {
    @extend .list-reset;
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;

    @include m-b-down(620px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__list-item {
    @extend .flex-column;
    align-items: center;
  }
}
