.note-card {
  @extend .flex-centered-content;

  @include m-b-down(1440px) {
    order: 2;
  }

  &__list {
    @extend .flex-column;

    &-item {
      font-size: 22px;
      margin: auto 0;
      color: var(--darkgray);
      line-height: 1.6;
  
      @include m-b-desktop-down {
        font-size: 22px;
      }
  
      @include m-b-tablet-down {
        font-size: 18px;
      }
    }
  }
}
