.review-card {

  @extend .flex-column;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--review-card-bg);
  border-radius: 20px;

  &__date {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--info);
  }

  &__title {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--darkgray);
  }

  &__text {
    height: 100%;
    max-height: 375px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 20px;

    &::-webkit-scrollbar {
      background-color: var(--info);
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--darkgray);
    }

    p {
      margin: 0;
      margin-bottom: 20px;
      color: var(--darkgray);
    }
  }

  &__link {
    position: relative;
    @extend .flex-column;
    font-size: 14px;
    padding-top: 20px;
    padding-right: 30px;
    margin-top: auto;
    border-top: 1px solid var(--info);
    color: #57c2cc;

    span {
      display: inline-block;
      margin-bottom: 5px;
      color: var(--info);
    }

    svg {
      position: absolute;
      top: calc(50% + 10px);
      right: 0;
      transform: translateY(-50%);
      fill: var(--warning);
    }
  }

  &__link:first-of-type {
    border-top: none;
    margin-bottom: 20px;
  }
}
