<form class="offer-form" action="./mail.php" method="POST" id="offer-form">

  <div class="offer-form__field">
    <input class="lw-main-input" type="text" name="Имя" placeholder="Имя*" id="offer_user_name" data-required="">
  </div>

  <div class="offer-form__field">
    <input class="lw-main-input" type="tel" name="Телефон" placeholder="Телефон*" id="offer_user_phone" data-required="">
  </div>

  <div class="offer-form__field">
    <textarea class="lw-main-textarea" name="Комментарий" placeholder="Ваш комментарий" id="offer_user_comment"></textarea>
  </div>
  <small>*Поля обязательные для заполнения</small>

  <div class="offer-form__footer">
    <button class="lw-btn lw-btn-outlined lw-btn-white" type="submit">Записаться</button>
  </div>
</form>
