<footer class="footer">
  <div class="lw-container">
    <div class="footer__section">
      <a href="index.html" aria-label="Логотип">
        @include('../components/logo.html')
      </a>
      @include('../components/contacts.html')
    </div>
    <div class="footer__section">
      <span class="lw-lighttext">
        Все фото и видеоматериалы являются собственностью "ДжиЭмТи". Любое копирование материалов с сайта www.gmt-clinic.ru без письменного разрешения не допускается.
      </span>

      <span class="lw-lighttext">
        Единственным правообладателем товарного знака «GMTCLINIC» («ДЖИЭМТИ КЛИНИК») на территории Российской Федерации является Общество с ограниченной ответственностью «ДжиЭмТи», расположенное по адресу:г. Москва, Новинский бульвар, д.20А. Стр.9. Законным правом на использование данного товарного знака обладают также ООО «ДжиЭмТи Плюс», ООО «ДжиЭмТи Престиж» и ООО «Камертон».
      </span>
    </div>

    <div class="footer__underblock">
      <span class="lw-lighttext company-rights">
        © 2014-2019 GMTClinic (ООО "ДжиЭмТи")
      </span>

      <a href="https://gmt-clinic.ru/license" rel="noopener nofollow noreferrer" class="lw-lighttext">Лицензии</a>
    </div>
  </div>
</footer>

<div class="sticky-panel">
  <div class="lw-container sticky-panel__container">
    <a href="tel:+74993721009">Позвонить</a>
    <button data-modal-anchor="offer">Записаться</button>
  </div>
</div>
