<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GMTClinic: клиника косметологии, эстетической медицины, системной медицины в Москве</title>
  <meta name="description" content="Дипломированные специалисты GMTClinic используют в работе более 50 современных аппаратов. ✔️ Мы оказываем широкий спектр услуг в области косметологии и системной медицины. ✔️ Удобное расположении в самом центре Москвы (Баррикадная, Смоленская, Арбатская, Краснопресненская)">
  <link rel="stylesheet" href="assets/main.css">
  <script defer src="assets/bundle.js"></script>
</head>
